# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TurnBasedProjectV2.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\reece\Documents\TurnBasedProjectV2\.idea\.idea.TurnBasedProjectV2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
