player-connection-mode=Listen
player-connection-guid=2261660548
player-connection-debug=1
player-connection-project-name=3rd Year Project
player-connection-ip=192.168.179.1
player-connection-ip=192.168.17.1
player-connection-ip=192.168.1.178
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
